$main: #4183C4;

.right {
  float: right !important;
}

.cursive {
  font-style: italic;
}

#main {
  .container {
    margin-top: 10px;
  }

  .inbox-container {
    overflow: hidden;
    .inbox-list {
      max-height: 500px;
      overflow-y: scroll;
      padding: 20px;
    }
  }

  .link {
    &-icon {
      font-size: 6em;
      transition: all ease .3s;

      &:hover {
        font-size: 7em !important;
      }
    }
  }

  .padded {
    padding: 15px 10px !important;
  }

  .list {
    
    &__scroll {
      max-height: 500px;
      overflow:hidden;

      &:hover {
        overflow-y: scroll;
      }
    }
    .item {
      &__header-top {
        margin-top: 2em;
      }
      
      &__active {
        div {
          color: $main !important;
        }
        
        &::before {
          content: '';
          width: 2px;
          height: 40px;
          background-color: $main;
          position: absolute;
          left: 0;
        }
      }

      .segment {
        margin: 0;
      }
    }
  }
  

  .linebreak {
    white-space: pre-line;
  }

  .header {
    &__margin-bottom {
      margin-bottom: 2em;
    }
  }

  @media only screen and (min-width: 992px) {
    .desktop {
      display: block;
    }

    .tab, .phone {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .tab {
      display: block;
    }

    .desktop, .phone {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .phone {
      display: block;

      &.tab {
        display: block;
      }
    }

    .tab, .desktop {
      display: none;
    }
  }
}

@import '../../node_modules/semantic-ui-css/semantic.min.css';

@import '../../node_modules/toastr/build/toastr.min.css';
